<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>version</key>
	<string>1</string>
	<key>alignRight</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>showSwitchControl</key>
		<true/>
		<key>title</key>
		<string>右对齐(关闭为左对齐)</string>
		<key>content</key>
		<string></string>
	</dict>
	<key>watermarkedTitle</key>
	<dict>
		<key>enabled</key>
		<false/>
		<key>showSwitchControl</key>
		<true/>
		<key>rightIndicator</key>
		<true/>
		<key>title</key>
		<string>水印标题</string>
		<key>content</key>
		<string>KOSMOS</string>
	</dict>
	<key>address</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>showSwitchControl</key>
		<true/>
		<key>title</key>
		<string>地址</string>
		<key>content</key>
		<string></string>
	</dict>
	<key>landmark</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>showSwitchControl</key>
		<true/>
		<key>title</key>
		<string>地标/门店</string>
		<key>content</key>
		<string></string>
	</dict>
	<key>captureTime</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>showSwitchControl</key>
		<true/>
		<key>rightIndicator</key>
		<true/>
		<key>title</key>
		<string>日期/时间</string>
		<key>content</key>
		<string>24</string>
	</dict>
	<key>capturePerson</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>showSwitchControl</key>
		<true/>
		<key>title</key>
		<string>拍摄人</string>
		<key>content</key>
		<string></string>
	</dict>
	<key>capturePersonNickname</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>showSwitchControl</key>
		<true/>
		<key>rightIndicator</key>
		<true/>
		<key>title</key>
		<string>昵称</string>
		<key>content</key>
		<string></string>
	</dict>
	<key>capturePersonPhoneNumConfused</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>showSwitchControl</key>
		<true/>
		<key>title</key>
		<string>号码保护</string>
		<key>desc</key>
		<string>（中间号码加星隐藏，关闭展示全部）</string>
		<key>content</key>
		<string></string>
	</dict>
	<key>captureVendor</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>showSwitchControl</key>
		<true/>
		<key>title</key>
		<string>格美相机印记</string>
		<key>content</key>
		<string>格美相机</string>
	</dict>
	<key>remark</key>
	<dict>
		<key>enabled</key>
		<false/>
		<key>showSwitchControl</key>
		<true/>
		<key>rightIndicator</key>
		<true/>
		<key>title</key>
		<string>备注</string>
		<key>content</key>
		<string>格美服务，格美未来</string>
	</dict>
	<key>weather</key>
	<dict>
		<key>enabled</key>
		<true/>
		<key>showSwitchControl</key>
		<true/>
		<key>title</key>
		<string>天气</string>
		<key>content</key>
		<string></string>
	</dict>
</dict>
</plist>
